/* app css stylesheet */





.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.container {
	margin-right: auto;
	margin-left: auto;
}


.flex-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
}

.flex-nav > .flex-item {
	flex-grow: 1;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	font-size: 1.5em;
}

.flex-nav > .flex-brand {
	flex-grow: 4;
}

.footer {
	color: white;
	background-color: #3f3f3f;
	padding: 1.5em 0;
}

.navbar {
	background-color: #757575;
}


.profile {
	font-family: 'Montserrat', sans-serif;
}
section {
	border: solid;
	border-color: #d8d8d8;
	border-width: 0 0 1px 0;
	font-family: 'Montserrat', sans-serif;


	padding-top: 50px;
	padding-bottom: 50px;
}

.sectionrow {

}

.diagram-display {
	margin: 3em 0;
}



/*
 *	Jumbotron
 *
 */

.jumbotron {
	padding: 0;
	width: 100%;
	position: relative;
}

.overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	position: absolute;
	z-index: 3;
	background-color: rgba(0,0,0,0.5);
	left: 50px;
	top: 0px; 
	height: 100%;
	width: 60%;
	line-height: 200px;
}

.banner-message {
	display: inline-block;
   	line-height: 50px;
    
    padding: 50px 10%;

    color: rgb(230,230,230);
    opacity: 1;
   	font-size: 45px;
   	font-family: 'Roboto Condensed', sans-serif;
}